<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vue.data.demo.vuerequest.mapper.UserMapper">

    <resultMap id="User1Map" type="userList1">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="age" column="age"></result>
        <result property="gender" column="gender"></result>
        <association property="classRoom" javaType="ClassRoom">
            <id property="id" column="cr_id"></id>
            <result property="classnum" column="classnum"></result>
        </association>
        <association property="rank" javaType="Rank">
            <id property="id" column="r_id"></id>
            <result property="level" column="level"></result>
        </association>
    </resultMap>

    <select id="getUserListSearch" parameterType="Map" resultMap="User1Map">
        SELECT u.id,name,age,gender,classnum,level
        FROM USER u
        LEFT JOIN classroom cr ON u.cr_id=cr.id
        left join rank r on u.r_id=r.id
    </select>

    <select id="getUser1Count" resultType="integer">
        select count(*) from customer
    </select>

    <update id="updatePwd" parameterType="user">
        update user set password=#{password} where id=#{id}
    </update>
</mapper>
